* {
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
}

header {
    background-color: #444;
    padding: 20px;
    color: white;
}

nav {
    background-color: #d3d3d3;
    float: left;
    padding: 50px 10px;
    text-transform: uppercase;
    width: 30%;
    min-height: 700px;
}

main {
    float: left;
    background-color: #d3d3d3;
    padding: 50px 30px;
    min-height: 700px;
    text-transform: uppercase;
    width: 70%;
}

footer {
    clear: both;
    background-color: #444;
    padding: 20px;
    color: white;
}

table,
th,
td {
    text-transform: uppercase;
    margin-top: 30px;
    min-width: 300px;
    font-size: 20px;
    padding: 5px;
}

.buy {
    color: green;
}

.sell {
    color: red;
}
