* {
    font-family: sans-serif;
    font-weight: 900;
    /* text-align: center; */
}

header {
    background-color: #444;
    padding: 20px;
    color: white;
}

#script {
    display: flex;
}

nav {
    background-color: #d3d3d3;
    float: left;
    padding: 50px 10px;
    text-transform: uppercase;
    width: 30%;
    /* min-height: 700px; */
    /* text-align: center; */
    /* display: flex; */

}

main {
    float: left;
    background-color: #d3d3d3;
    padding: 50px 30px;
    min-height: 700px;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

footer {
    clear: both;
    background-color: #444;
    padding: 20px;
    color: white;
}

table,
th,
td {
    text-transform: uppercase;
    /* margin-top: 30px; */
    min-width: 300px;
    font-size: 20px;
    padding: 7px;
}

.buy {
    color: green;
}

.sell {
    color: red;
}

DIV.top-bar {
    padding: 15px;
    text-align: left;
    background-color: #000000;

}

DIV.top-bar a:link,
a:visited {
    text-decoration: none;
    display: inline;
    border: 1px black solid;
    padding: 5px 10px;
    background-color: #d3d3d3;
    color: black;
    font-weight: 900;
    border-radius: 10px;

}

DIV.top-bar a:hover,
a:active {
    background-color: #444;
    color: rgb(255, 255, 255);

}

DIV.top-bar ul,
DIV.top-bar li {
    display: inline;
    margin-right: 1em;

}

/* Formularz dodawania ręcznego */
#formularz {
    background-color: #444;
    padding: 20px;
    color: white;
    width: 600px;
    border-radius: 10px;
    text-align: right;
}

#formularz input[type="text"],
#formularz input[type="number"] {
    width: 250px;
    background-color: #d3d3d3;
    color: black;
    border-radius: 5px;
    line-height: 1.5;
    text-align: center;
}

/* pole z nazwą odczytaną API */
#selectedCurrency {
    min-width: 250px;
    height: 30px;
    background-color: #d3d3d3;
    display: inline-block;
    color: black;
    box-shadow: inset 2px 2px rgb(156, 156, 156), inset -2px -2px rgb(233, 233, 233);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    padding: 2px;
}

.dropdown-menu {
    cursor: pointer;
}

/* #formularzTablica {
    background-color: #444;
    padding: 20px;
    color: white;
    width: 500px;
    border-radius: 10px;
    text-align: right;
    padding-right: 40px;
}

#formularzTablica input[type="text"],
#formularzTablica input [type="number"] {
    width: 200px;
} */

#showCurrencyTable {
    background-color: #444;
    padding: 20px;
    color: white;
    width: 650px;
    border-radius: 15px;
    text-align: right;
    padding-right: 30px;
    position: relative;
}

#showCurrencyTable input[type="text"],
#showCurrencyTable input[type="number"] {
    width: 400px;
    background-color: #d3d3d3;
    color: black;
    border-radius: 5px;
    line-height: 1.5;
    text-align: center;
}

#deleteButton {
    background-color: #d3d3d3;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius: 15px;
}

#deleteButton:hover {
    background-color: red;
}