* {
    font-family: sans-serif;
    font-weight: bold;
    text-align:center;
}

body {
    background-color:#d3d3d3(--bs-body-color);
}

header {
    background-color:#444;
    padding: 20px;
    height: 20%;
    color:white;
}

nav {
    background-color:#d3d3d3;
    width:30%;
    float:left;
    padding: 50px 10px;
    height: 100%;
    text-transform: uppercase;
    min-height: 600px;
}

main {
    width:70%;
    float:left;
    background-color:#d3d3d3;
    padding: 50px 30px;
    min-height: 600px;
    align-content:center;
    text-transform: uppercase;
}

footer {
    clear:both;
    background-color:#444;
    padding: 20px;
    height: 20%;
    color:white;
}

table, th, td {
    text-transform:uppercase;
    margin-top:30px;
    min-width: 300px;
    font-size:25px;
    padding:5px;
}

.buy {
    color: green;
}

.sell {
    color:red;
}
